<mat-toolbar color="green" class="mat-elevation-z6">
  <div class="logo-section">
    <span class="logo">
      <img src="assets/icon/favicon_old.jpg" alt="Logo">
      SonikApp
    </span>
  </div>

  <div class="spacer"></div>
  
  <a mat-button (click)="onMusicClick()" class="music-button">
    <mat-icon class="button-icon">library_music</mat-icon> <!-- Icono de música -->
    Music
  </a>
  <a mat-button (click)="onSearchClick()" class="search-button">
    <mat-icon class="button-icon">search</mat-icon> <!-- Icono de búsqueda -->
    Search
  </a>
  <a mat-button (click)="onMailClick()" class="mail-button">
    <mat-icon class="button-icon">mail</mat-icon> <!-- Icono de correo -->
    Mail
  </a>
</mat-toolbar>