.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.logo img {
  width: 50px; 
  margin-right: 10px; 
}

.app-name {
  font-size: 1.5em; 
  font-weight: bold;
  color: skyblue;
  text-shadow: 4px 4px 1px rgba(255, 255, 255, 0.3);
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
  border-radius: 15px; /* Redondear bordes */
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 0.8em;
  margin-right: 10px;
}

.round-button:hover {
  background-color: darkseagreen;
}

.active {
  background-color: darkseagreen;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

.logo {
  margin-right: 60%;
}
