.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ocupa todo el espacio restante */
}

.logo img {
  width: 40px; /* Tamaño de la imagen del logo */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
  margin: 0 5px; /* Reducir el margen */
  padding: 8px 16px; /* Reducir el padding */
  border-radius: 15px; /* Bord es redondeados */
  background-color: lightseagreen; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8em; /* Reducir el tamaño de la fuente */
}

.round-button:hover {
  background-color: darkseagreen; /* Cambio de color al hacer hover */
}

.logo{
  margin-right: 60%;
}