<mat-toolbar>
  <div class="logo-section" (click)="onHomeClick()">
    <span class="logo">
      <img src="../../assets/icon/logo2.png" alt="Logo"> <span class="app-name">SonikApp</span>
    </span>
  </div>
  <div class="icon-buttons">
    <button mat-icon-button class="round-button" (click)="onMainClick()">
      Tus canciones
    </button>
    <button mat-icon-button class="round-button" (click)="onPlaylistClick()">
      Tus playlist
    </button>
    <button mat-icon-button class="round-button" (click)="onSearchClick()">
      Buscar Artistas
    </button>
    <button mat-icon-button class="round-button" (click)="onSearchAlbumsClick()">
      Buscar Álbumes
    </button>
    <button mat-icon-button class="round-button" (click)="onSearchSongsClick()">
      Buscar Canciones
    </button>
  </div>
</mat-toolbar>