.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ocupa todo el espacio restante */
}

.logo img {
  width: 50px; 
  margin-right: 10px; 
}

.app-name {
  font-size: 1.5em; 
  font-weight: bold;
  color: skyblue;
  text-shadow: 4px 4px 1px rgba(255, 255, 255, 0.3);
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 15px; 
  background-color: lightseagreen; 
  color: white; 
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8em;
}

.round-button:hover {
  background-color: darkseagreen;
}

.logo {
  margin-right: 60%;
}
