<div class="container">
    <app-loading *ngIf="loadingArtist"></app-loading>
    <div *ngIf="!loadingArtist" class="row animated fadeIn pt-5">
        <div class="col-4">
            <div class="artist-banner">
                <img [src]="artista.images | noimage" class="artist-banner-image" alt="image">
            </div>
        </div>     
        <div class="col-6 artist-info d-flex flex-column justify-content-start">
            <h1>{{artista.name}}
                <br>
                <span class="follower-count">{{artista.followers.total | number}} seguidores    
                    <br>         
                    <!-- Botón condicional para seguir o dejar de seguir -->
                    <button *ngIf="!following" class="btn btn-primary mt-2" (click)="seguirArtista(artista.id)">+ Seguir</button>
                    <button *ngIf="following" class="btn btn-secondary mt-2" (click)="unfollowArtist(artista.id)">Siguiendo</button>
                </span> 
            </h1>
        </div>
        
        <div class="col-2 align-self-start back-button">
            <button routerLink="/search" class="btn btn-outline-danger">
                Atrás
            </button>
        </div>
    </div>

    <div class="row mt-5" *ngIf="!loadingArtist">
        <h1>Canciones más populares</h1>
        <div class="col">
            <table class="table table-borderless text-white align-middle">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Álbum</th>
                        <th>Canción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of topTracks">
                        <td><img [src]="track.album.images | noimage" class="img-thumb"></td>
                        <td><a [routerLink]="['/album', track.album.id]">{{ track.album.name }}</a></td>
                        <td>
                            <iframe [src]="track.id | domseguro" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <h1>Artistas relacionados: </h1>
        <br><br><br>
    </div>
    <app-artist-card [items]="artists"></app-artist-card>
</div>
