<app-toolbar></app-toolbar>
<div class="container">
  <div *ngIf="loading" class="loading">
    Loading saved tracks...
  </div>

  <div *ngIf="error" class="error">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && !error">
    <h2>Mis canciones guardadas</h2>
    <div class="table-responsive">
      <table class="table table">
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>
            <th></th>
            <th>Título</th>
            <th>Artista</th>
            <th>Álbum</th>
            <th>Fecha lanzamiento</th>
            <th>Duración</th>
            <th>Reproductor</th>
            <th></th>
          </tr>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
          <tr *ngFor="let track of savedTracks">
            <td>
              <img [src]="track.track.album.images[0]?.url" alt="{{ track.track.name }}" width="100" (click)="playTrack(track)" [style.cursor]="'pointer'">
            </td>
            <td>{{ track.track.name }}</td>
            <td>
              <a [routerLink]="['/artist', track.track.artists[0].id]">{{ track.track.artists[0].name }}</a>
            </td>
            <td>
              <a [routerLink]="['/album', track.track.album.id]">{{ track.track.album.name }}</a>
            </td>
            <td>{{ track.track.album.release_date }}</td>
            <td>{{ formatDuration(track.track.duration_ms) }}</td>
            <td>
              <iframe [src]="track.track.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>