<app-toolbar></app-toolbar>

<div class="container">
  <div *ngIf="loadingPlaylist" class="loading">
    Cargando la playlist...
  </div>

  <div *ngIf="!loadingPlaylist && playlist">
    <h2>PLAYLIST</h2>
    <h2>{{ playlist.name }}</h2>
    <div class="table-responsive">
      <table class="table">
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>
            <th>Foto</th>
            <th>Canción</th>
            <th>Artista</th>
            <th>Álbum</th>
            <th>Previsualización</th>
          </tr>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
          <tr *ngFor="let track of playlist.tracks.items">
            <td>
              <img [src]="track.track.album.images[0]?.url" alt="{{ track.track.name }}" style="max-width: 100px; height: auto; object-fit: cover; border-radius: 5px;">
            </td>
            <td>{{ track.track.name }}</td>
            <td>
              <a [routerLink]="['/artist', track.track.artists[0].id]" class="text-decoration-none">{{ track.track.artists[0].name }}</a>
            </td>
            <td>
              <a [routerLink]="['/album', track.track.album.id]" class="text-decoration-none">{{ track.track.album.name }}</a>
            </td>
            <td>
              <iframe [src]="track.track.id | domseguro" width="280px" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
