.container {
  padding: 20px;
  border-radius: 10px;
}

.loading {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.error {
  text-align: center;
  font-size: 1.2em;
  color: #e74c3c;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Arial Black', sans-serif;
  color: #80076c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-image: url('../../assets/wallpapers/wallpaper3.jpg');
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  color: #27ae60;
  font-weight: bold;
}

.table td {
  color: #c2cf0e;
  font-weight: normal;
  font-size: 95%;
}

.table th:first-child,
.table td:first-child {
  padding-left: 12px;
}

.table th:last-child,
.table td:last-child {
  padding-right: 12px;
}

img {
  border-radius: 5px;
}